/*
Theme Name:   The League Child
Theme URI:    https://themeforest.net/user/mvpthemes/
Description:  The League Child Theme
Author:       MVP Themes
Author URI:   https://themeforest.net/user/mvpthemes/portfolio
Template:     the-league
Version:      1.0.0
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Tags:         two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain:  the-league-child
*/


/* Embedded post (Instagram, Youtube) design */

.wp-block-embed {
    margin: 40px 0;
}

.wp-block-embed .instagram-media {
    max-width: none!important;
}

.wp-block-embed figcaption {
    line-height: 140%;
}


/* Show commentsbox as default */

#mvp-comments-button {
    display: none;
}

#disqus_thread {
    display: block;
}

#mvp-article-wrap .adsbygoogle {
    margin: 20px 0;
}

#mvp-article-wrap h5 {
    line-height: 140%;
}


/* FAQ */

#mvp-content-main .schema-faq {
    margin-bottom: 30px;
}

#mvp-content-main .schema-faq-section {
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

#mvp-content-main .schema-faq-question {
    font-size: 1.4rem;
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

#mvp-content-main .schema-faq-answer {
    margin-bottom: 0;
    padding: 15px 25px;
}